<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Criar Cotação</title>
</head>
<body>
    <h1>Criar Nova Cotação</h1>
    <form action="#" th:action="@{/cotacoes/criar}" method="post">
        <label for="nomeDaLista">Nome da Cotação:</label>
        <input type="text" id="nomeDaLista" name="nomeDaLista" required/><br><br>

        <label for="produtos">Produtos:</label>
        <input type="text" id="produtos" name="produtos" placeholder="Produto 1, Produto 2, ..." required/><br><br>

        <button type="submit">Criar Cotação</button>
    </form>
    <a href="/cotacoes/listar">Voltar para Listagem</a> <!-- Link de volta para a listagem de cotações -->
</body>
</html>
