<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Criar Cotação</title>
</head>
<body>
    <h1>Criar Nova Cotação</h1>
    <form action="/criar" method="post">
        <label for="nomeCotacao">Nome da Cotação:</label>
        <input type="text" id="nomeCotacao" name="nomeCotacao" required><br><br>

        <label for="nomesProdutos">Produtos (separados por vírgula):</label>
        <textarea id="nomesProdutos" name="nomesProdutos" rows="4" cols="50" required></textarea><br><br>

        <button type="submit">Criar Cotação</button>
    </form>

    <button onclick="window.location.href='/cotacoes/listar'">Voltar</button>
</body>
</html>
